
html {
    height: 100%;
  }
  
  
 body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #3a3a3a;
  }
  
  #main-holder {
    width: 50%;
    height: 70%;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0px 0px 5px 2px black;
  }
  
  #login-error-msg-holder {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
  }
  
  #login-error-msg {
    width: 23%;
    text-align: center;
    margin: 0;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #8a0000;
    border: 1px solid #8a0000;
    background-color: #e58f8f;
    opacity: 0;
  }

  #register-error-msg-holder {
    width: 23%;
    text-align: center;
    margin: 0;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #8a0000;
    border: 1px solid #8a0000;
    background-color: #e58f8f;
    opacity: 0;
  }
  
  #register-error-msg {
    width: 23%;
    text-align: center;
    margin: 0;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #8a0000;
    border: 1px solid #8a0000;
    background-color: #e58f8f;
    opacity: 0;
  }
  
  #error-msg-second-line {
    display: block;
  }
  
  #login-form {
    align-self: flex-start;
    display: grid;
    justify-items: center;
    align-items: center;
  }
  
.login-form-field::placeholder {
    color: #3a3a3a;
}
  
.login-form-field {
    border: none;
    border-bottom: 1px solid #3a3a3a;
    margin-bottom: 10px;
    border-radius: 3px;
    outline: none;
    padding: 0px 0px 5px 5px;
}
  
#login-form-submit {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #3a3a3a;
    cursor: pointer;
    outline: none;
    white-space: normal;
    top: 1px;
}
  
button {
    width: 100%;
    padding: 7px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    background-color: #3a3a3a;
    cursor: pointer;
    outline: none;
    white-space: normal;
    top: 1px;
}

.secondButton {
    width: 100%;
    padding: 7px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    background-color: #3a3a3a;
    cursor: pointer;
    outline: none;
    white-space: normal;
    top: 1px;

}

.tabs {
  display: table-cell;
  width: 30%;
  background-color: blanchedalmond;
}

.tabs {
  display: table-cell;
  width: 30%;
  background-color: rgba(11, 177, 224, 0.82);
  padding: 10px;
  float: left;
  text-align: center;
  vertical-align: middle;
  border: 2px solid #ffffff;
  border-bottom: 0px;
  position: relative;
  font-size: 1.3em;
  color: #ffffff;
}

.tabs:hover, p{
  cursor: pointer;
}

#leftTab  {
  background-color: rgb(12, 132, 189);
}
#cont {
  width: 100%;
  height: 300px;
  background-color: rgba(11, 177, 224, 0.82);
  border: 2px solid #ffffff;
}

input{
  display: block;
  width: 250px;
  margin: 10px 13px;
  padding: 10px;
  font-size: 1.3em;
  color: rgba(11, 177, 224, 0.82);
  outline: 2px solid #ffffff;
}

p {
  padding: 10px 15px;
  font-size: 1.3em;
  color: #ffffff
}

.comm {
  position: absolute;
  visibility: hidden;
}

#login {
  visibility: visible;
}

h4 {
  display: block;
  margin-top: 25px;
  text-align: center;
}

#register {
  bottom: 200px;
}

#forgot {
  bottom: 200px;

}

#fe {
  margin: 10px 15px;
}

